#navbar{
    flex-direction: column;
}

#right{
    flex-direction: column;
}

#username{
    display: none;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
}
#home{
    height:280px;
    padding: 3px 68px;
}

#home::before{
    height: 370px;
}

#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;
}


#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 60px;
    padding: 2px 2px;
    height: auto;
}

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 1rem;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
}